@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}


h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    
}
/* Question 2 css */
.gamesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
/* Cards */
.games {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFC;
    color: #000;
    width: 350px;
    height: 400px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 1em;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Global */
.error {
    color: red;
    display: none;
}

.games img {
    width: 100%;
    height: 200px;
}

/* Question 3 css */

nav a {
    text-decoration: none;
    padding-left: 10px;
}


.container {
    max-width: 1000px;
    padding: 10px;
    line-height: 1.7em;
    margin: 0 auto;
}


.gameImage {
    height: 300px;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gameDescription {
    
}

